<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>


<body>
    <!-- Main content of the webpage starts here -->
    <div class="container">
        <!-- A heading to welcome users to the web application -->
        <h2>Main</h2>
        <!-- A form that collects user input and sends it to the server -->
        <!-- action="/" means the form data will be sent to the root URL -->
        <!-- method="post" means the data will be sent securely via POST -->
        <form action="/dbs" method="post">
            <input type="submit" value="DBS share prediction">
        </form>
        <form action="/" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>
</body>
